{% extends "base.html" %}
{% block contactactive %}active{% endblock contactactive %}
{% block css %}
{% endblock css %}
{% block body %} 
<div class="container">  
  <h2 class="py-3">Contact us </h2>
  {% if messages %}
  <table style="width: 100%; margin-bottom: 15px; border-collapse: collapse;">
      <tr>
        <td style="background-color: #d4edda; color: #155724; padding: 10px; border: 1px solid #c3e6cb; 
                  border-radius: 5px; text-align: center;">
          {% for message in messages %}
            <strong>{{ message }}</strong>
          {% endfor %}
        </td>
      </tr>
    </table>
  {% endif %}
  <form action="/contact/" method="POST">
    {% csrf_token %}
    <div class="from-group">
      <label for="name" class="visually">Full Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
    </div>
    <div class="from-group">
      <label for="phone" class="visually">Contact number</label>
      <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your contact no.">
    </div>
    <div class="col-auto">
      <label for="email" class="visually">Email</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="email@example.com">
      <small id="EmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="from-group">
      <label for="desc" class="visually">Help desk</label>
      <textarea type="text" class="form-control" id="desc" name="desc" placeholder="what can i help you"></textarea>
    </div>

    <div class="col-auto my-3">
      <button type="submit" class="btn btn-primary mb-3">submit
      </button>
    </div>
  </form>
</div>   

{% endblock body %}